<%- include('templates/cabecera',{tituloWeb: 'Home Index' }) %>


    <h1 class="text-primary">Titulo de mi sitio web Index</h1>
    <h2>
        <%= titulo %>
    </h2>
    <%- include('templates/footer') %>